<section class="bk-grey">
    <div class="container">
        <div class="row con-contact">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="pz-d1">
                    <div class="row">
                        <div class="col-md-3 pz-d2">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="col-md-9 pz-d3 pt-3">
                            <h2>Phone Number</h2>
                            <p>+(234) 813 6824 080</p>
                        </div>
                    </div>
                </div>
                <div class="pz-d1">
                    <div class="row">
                        <div class="col-md-3 pz-d2 pz-x4">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="col-md-9 pz-d3 pt-3">
                            <h2>Email Address</h2>
                            <p>info@agrovesto.com</p>
                        </div>
                    </div>
                </div>
                <div class="pz-d1">
                    <div class="row">
                        <div class="col-md-3 pz-d2 pz-x4">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="col-md-9 pz-d3 pt-3">
                            <h2>Fax Address</h2>
                            <p>info@agrovesto.com</p>
                        </div>
                    </div>
                </div>
                <div class="pz-d1">
                    <div class="row">
                        <div class="col-md-3 pz-d2 pz-x5">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="col-md-9 pz-d3 pt-3">
                            <h2>Location</h2>
                            <p>Abuja, Nigeria.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 px-d1">
                <h2 class="pz-d6">Send Message</h2>
                <p class="pz-d4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Location">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message here" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<section class="bk-g">
    <div class="container">
        <div class="row">
            <div class="col-md-12 map-p1">
                <h2>Find us on Google map</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                <img src="assets/img/map.jpg" class="img-thumbnail" alt="">
            </div>
        </div>
    </div>
</section>