.dash-x1 h2 {
    font-size: 16px;
    font-family: Nunito, sans-serif;
    color: #7b8088;
}

.dash-x1 {
    padding-right: 40px!important;
    border-right: 1px solid #ebedee;
}

.ul-dahsboard li {
    /* padding-bottom: 30px; */
    font-size: 16px;
    list-style: none;
}

.ul-dahsboard {
    padding-left: 40px!important;
    margin-top: 30px;
}

.ul-dahsboard img {
    max-width: 11%;
    padding-right: 6px;
    margin-top: -2px;
}

.ul-dahsboard a li {
    text-decoration: none;
    color: #343a3f;
    padding: 12px 2px 15px 15px;
    border-radius: 8px;
}

.ul-dahsboard a {
    text-decoration: none;
}

.pro-x1 {
    padding-left: 40px;
}

.pro-x1 h2 {
    padding-bottom: 20px;
    font-family: nunito, sans-serif;
    font-size: 22px;
    padding-top: 30px;
    color: rgb(0, 158, 34);
}

.form-group {
    margin-bottom: 5px!important;
}

.pro-x1 h4 {
    padding-bottom: 20px;
    font-family: nunito, sans-serif;
    font-size: 16px;
}

.pro-x1 p {
    font-family: nunito, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #343a3f;
}

button:focus {
    outline: none!important;
    box-shadow: none!important;
}

.profile-body {
    border: 1px solid #e3e5e9;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    max-width: 80%;
}

.form-group {
    border-bottom: 1px solid #f8fafb;
    padding-bottom: 5px;
}

.ul-dahsboard a li:hover {
    background-color: #f8fafb;
}

.ul-dahsboard {
    padding-top: 10px;
}

.btn-published {
    background-color: #f8fafb;
    padding: 12px 30px;
}

.btn-published:active {
    outline: none!important;
}

.card-body {
    font-family: nunito, sans-serif;
}

.btn-sell {
    background-color: rgb(0, 158, 34);
    padding: 7px 12px;
    font-family: Nunito, sans-serif;
    color: #fff;
    border-radius: 4px;
    margin-top: -8px;
    margin-right: 30px;
}

.btn-sell:hover {
    cursor: pointer;
}

.btn-sell a {
    text-decoration: none;
    color: #fff;
}