<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 dash-x1">
                <!-- <h2>Profile</h2> -->
                <div class="dash-x2">
                    <ul class="ul-dahsboard">
                        <a href="/dashboard">
                            <li>
                                <img src="assets/img/avatar.png" class="img-responsive" alt=""> Profile
                            </li>
                        </a>
                        <a href="/product-in-store">
                            <li>
                                <img src="assets/img/plan.png" class="img-responsive" alt=""> Product in Store
                            </li>
                        </a>
                        <a href="/sales-history">
                            <li>
                                <img src="assets/img/bill.png" class="img-responsive" alt=""> Sales History
                            </li>
                        </a>
                        <a href="/purchase-history">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Purchase History
                            </li>
                        </a>
                        <a href="/notification">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Notification
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pro-x1">
                <h2>Sales History
                    <span class="pull-right btn btn-sell">
                      <a href="/make-sales">Want to sell</a> 
                  </span>
                </h2>
                <h4>User Details</h4>
                <p>
                    <a class="btn btn-published" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                   Fresh Tomato
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Buyer Name</th>
                                    <th scope="col">More Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>25kg</td>
                                    <td>12 Dec, 2019</td>
                                    <td>Antonio valencia</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>50kg</td>
                                    <td>14 Dec, 2019</td>
                                    <td>Morris Lopez</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>100kg</td>
                                    <td>18 Dec, 2019</td>
                                    <td>Dan Brown</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>
                    <a class="btn btn-published" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                   Tuber Yams
                  </a>
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Buyer Name</th>
                                    <th scope="col">More Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>25kg</td>
                                    <td>12 Dec, 2019</td>
                                    <td>Antonio valencia</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>50kg</td>
                                    <td>14 Dec, 2019</td>
                                    <td>Morris Lopez</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>100kg</td>
                                    <td>18 Dec, 2019</td>
                                    <td>Dan Brown</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>
                    <a class="btn btn-published" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                   Ginger & Galic
                  </a>
                </p>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Buyer Name</th>
                                    <th scope="col">More Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>25kg</td>
                                    <td>12 Dec, 2019</td>
                                    <td>Antonio valencia</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>50kg</td>
                                    <td>14 Dec, 2019</td>
                                    <td>Morris Lopez</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>100kg</td>
                                    <td>18 Dec, 2019</td>
                                    <td>Dan Brown</td>
                                    <td>
                                        <a href="" class="btn btn-primary">
                                        View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>