<section class="bk-blue">
    <div class="container">
        <div class="row pad-ft">
            <div class="col-md-4 ">
                <ul class="ul-footer">
                    <li class="active">AgroVest</li>
                    <li>Simplifying agro-trading solutions.</li>
                    <li><i class="fa fa-map-marker"></i> Abuja, Nigeria.</li>
                    <li>
                        <i class="fa fa-phone"></i> +(234) 813 6824 080</li>
                    <li><i class="fa fa-envelope"></i> info@agrovesto.com</li>

                </ul>
            </div>
            <div class="col-md-3">
                <ul class="ul-footer">
                    <li class="active">Products</li>
                    <li>
                        <a href="">Prices drop</a>
                    </li>
                    <li>
                        <a href="">New products</a>
                    </li>
                    <li>
                        <a href="">Stores</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3">
                <ul class="ul-footer">
                    <li class="active">Our Company</li>
                    <li>
                        <a href="">Terms and Condition</a>
                    </li>
                    <li>
                        <a href="">Documentation</a>
                    </li>
                    <li>
                        <a href="">Secure payment</a>
                    </li>
                    <li>
                        <a href="">Contact us</a>
                    </li>
                    <li>
                        <a href="">Stores</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="ul-footer ul-media">
                    <h2>Socia media</h2>
                    <li>
                        <a href="">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="pad-last">
                <h2>Copyright © Agrovest. All Rights Reserved
                </h2>
            </div>
        </div>
    </div>
</section>