<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 dash-x1">
                <!-- <h2>Profile</h2> -->
                <div class="dash-x2">
                    <ul class="ul-dahsboard">
                        <a href="/dashboard">
                            <li>
                                <img src="assets/img/avatar.png" class="img-responsive" alt=""> Profile
                            </li>
                        </a>
                        <a href="/product-in-store">
                            <li>
                                <img src="assets/img/plan.png" class="img-responsive" alt=""> Product in Store
                            </li>
                        </a>
                        <a href="/sales-history">
                            <li>
                                <img src="assets/img/bill.png" class="img-responsive" alt=""> Sales History
                            </li>
                        </a>
                        <a href="/purchase-history">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Purchase History
                            </li>
                        </a>
                        <a href="/notification">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Notification
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pro-x1">
                <h2>Profile</h2>
                <h4>User Details</h4>
                <div class="profile-body">
                    <form>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-3">Name</label>
                            <input type="email" class="form-control col-sm-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <a href="" class="btn btn-edit col-sm-3">Edit</a>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-3">User ID</label>
                            <input type="email" class="form-control col-sm-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1294856">
                            <!-- <a href="" class="btn btn-edit col-sm-3">Edit</a> -->
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-3">User Name</label>
                            <input type="email" class="form-control col-sm-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="emmanueliyanu07">
                            <!-- <a href="" class="btn btn-edit col-sm-3">Edit</a> -->
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-3">Password</label>
                            <input type="password" class="form-control col-sm-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="*******">
                            <a href="" class="btn btn-edit col-sm-3">Edit</a>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-3">Email </label>
                            <input type="text" class="form-control col-sm-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="emmanueliyanu2012@gmail.com">
                            <a href="" class="btn btn-edit col-sm-3">Edit</a>
                        </div>
                    </form>
                </div>
                <h4 class="pt-5">Preference</h4>
                <div class="profile-body mb-5">
                    <form>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-8">Email Preferences</label>
                            <small id="emailHelp" class="form-text text-muted pl-3">What types of communication would you like to receive from Agrovest?</small>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-8">Design inspiration, tutorials, and professionally curated content.</label>
                            <a href="" class="btn btn-edit col-sm-3">Edit</a>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-8">Special offers and amazing deals.</label>
                            <!-- <a href="" class="btn btn-edit col-sm-3">Edit</a> -->
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-8">Product education and updates.</label>
                            <!-- <a href="" class="btn btn-edit col-sm-3">Edit</a> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>