<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 dash-x1">
                <!-- <h2>Profile</h2> -->
                <div class="dash-x2">
                    <ul class="ul-dahsboard">
                        <a href="/dashboard">
                            <li>
                                <img src="assets/img/avatar.png" class="img-responsive" alt=""> Profile
                            </li>
                        </a>
                        <a href="/product-in-store">
                            <li>
                                <img src="assets/img/plan.png" class="img-responsive" alt=""> Product in Store
                            </li>
                        </a>
                        <a href="/sales-history">
                            <li>
                                <img src="assets/img/bill.png" class="img-responsive" alt=""> Sales History
                            </li>
                        </a>
                        <a href="/purchase-history">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Purchase History
                            </li>
                        </a>
                        <a href="/notification">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Notification
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pro-x1">
                <h2>Purchases History</h2>
                <h4>User Details</h4>
                <p>
                    <a class="btn btn-published" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                     My Published offers
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body mb-3">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <a class="btn btn-published" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                     My Confirmed bids
                    </a>
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <a class="btn btn-published" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                     My Finished Deals
                    </a>
                </p>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>