<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 dash-x1">
                <!-- <h2>Profile</h2> -->
                <div class="dash-x2">
                    <ul class="ul-dahsboard">
                        <a href="/dashboard">
                            <li>
                                <img src="assets/img/avatar.png" class="img-responsive" alt=""> Profile
                            </li>
                        </a>
                        <a href="/product-in-store">
                            <li>
                                <img src="assets/img/plan.png" class="img-responsive" alt=""> Product in Store
                            </li>
                        </a>
                        <a href="/sales-history">
                            <li>
                                <img src="assets/img/bill.png" class="img-responsive" alt=""> Sales History
                            </li>
                        </a>
                        <a href="/purchase-history">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Purchase History
                            </li>
                        </a>
                        <a href="/notification">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Notification
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pro-x1">
                <h2>Notifications</h2>
                <h4>User Details</h4>
                <ul class="ul-not">
                    <li>Your account is now been confirmed <span>08/10/2019 11:09</span></li>
                    <li>Confirmation Instruction <span>09/10/2019 12:00</span></li>
                </ul>
            </div>
        </div>

    </div>
</section>