<section class="">
    <div class="container ">
        <div class="cont pt-4">
            <h2>Fruits</h2>
        </div>
        <div class="row pt-5 pb-5 ">
            <div class="col-md-4">
                <div class="mp-x1">
                    <img src="assets/img/products/4.jpg" alt="">
                </div>
                <div class="pr-x1 pz-x2">
                    <a routerLink="/product-details">
                        <h2>Orange</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center n">
                <div class="mp-x1">
                    <img src="assets/img/products/3.jpg" alt="">
                </div>
                <div class="pr-x1 pr-x3">
                    <a routerLink="/product-details">
                        <h2>Tomato</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="mp-x1">
                    <img src="assets/img/products/2.jpg" alt="">
                </div>
                <div class="pr-x1 pz-x3">
                    <a routerLink="/product-details">
                        <h2>Banana</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="cont pt-4">
            <h2>Tuber Crops</h2>
        </div>
        <div class="row pt-5 pb-5 grey-bk">

            <div class="col-md-4">
                <div class="mp-x1">
                    <img src="assets/img/products/17.jpg" alt="">
                </div>
                <div class="pr-x1 pz-x2">
                    <a routerLink="/product-details">
                        <h2>Orange</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center n">
                <div class="mp-x1">
                    <img src="assets/img/products/18.jpg" alt="">
                </div>
                <div class="pr-x1 pr-x3">
                    <a routerLink="/product-details">
                        <h2>Tomato</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="mp-x1">
                    <img src="assets/img/products/19.jpg" alt="">
                </div>
                <div class="pr-x1 pz-x3">
                    <a routerLink="/product-details">
                        <h2>Banana</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>