<section>
    <div class="container">
        <div class="row mb-5 mt-5">
            <div class="col-md-6 prod-img">
                <img src="assets/img/products/2.jpg" class="img-responsive img-thumbnail" alt="">
            </div>
            <div class="col-md-6 prod-x1">
                <div class="fx-prod">
                    <h2> <span>Fresh Banana</span>
                        <a href="" class="pl-5">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </h2>
                </div>
                <ul class="ul-star">
                    <li> <i class="fa fa-star"></i> </li>
                    <li> <i class="fa fa-star"></i> </li>
                    <li> <i class="fa fa-star"></i> </li>
                    <li> <i class="fa fa-star"></i> </li>
                    <li> <i class="fa fa-star green-x1"></i> </li>
                </ul>
                <ul class="ul-text">
                    <li>
                        <div class="pd-x1">
                            <h2>&#8358;50,000</h2>
                        </div>
                    </li>
                    <li>
                        <div class="form ">
                            <div class="form-group row pl-3">
                                <label for="exampleInputEmail1 col-sm-6 pt-3">Location</label>
                                <select class="form-control col-sm-6" id="exampleFormControlSelect1">
                              <option>Ibeju Lekki</option>
                              <option>Yaba</option>
                              <option>Anthony</option>
                              <option>Lagos mainland</option>
                              <option>Lekki Pahse 1</option>
                            </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form ">
                            <div class="form-group row pl-3">
                                <label for="exampleInputEmail1 col-sm-6 pt-3">Quantity</label>
                                <select class="form-control col-sm-6" id="exampleFormControlSelect1">
                              <option>25kg</option>
                              <option>50kg</option>
                              <option>100kg</option>
                              <option>100kg+</option>
                            </select>
                            </div>
                        </div>
                    </li>

                    <li>

                        <a href="/payment-details" class="btn btn-primary btn-cart">Purchase</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>