<section class="bk-grey">
    <div class="container pt-5">
        <div class="row">

            <div class="col-md-9">

                <div class="row pt-5 bk-white pb-5">
                    <div class="col-md-4 nf-x1">
                        <img src="assets/img/products/2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-8 cf-c2">
                        <h2>Importance of Banana to health</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<span>
                             <a href="">more</a> </span>"</p>
                    </div>
                </div>

                <div class="row mt-5 bk-white pt-5 pb-5">
                    <div class="col-md-4 nf-x1">
                        <img src="assets/img/products/2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-8 cf-c2">
                        <h2>Importance of Banana to health</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<span>
                             <a href="">more</a> </span>"</p>
                    </div>
                </div>

                <div class="row mt-5 mb-5 bk-white pt-5 pb-5">
                    <div class="col-md-4 nf-x1">
                        <img src="assets/img/products/2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-8 cf-c2">
                        <h2>Importance of Banana to health</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<span>
                             <a href="">more</a> </span>"</p>
                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="bk-white sb-text">
                    <h2>Latest news</h2>

                    <ul class="ul-news">
                        <li> <a href="">Lorem ipsum dolor sit amet</a> </li>
                        <li> <a href="">Lorem ipsum dolor sit amet</a> </li>
                        <li> <a href="">Lorem ipsum dolor sit amet</a> </li>
                        <li> <a href="">Lorem ipsum dolor sit amet</a> </li>
                        <li> <a href="">Lorem ipsum dolor sit amet</a> </li>
                        <li> <a href="">Lorem ipsum dolor sit amet</a> </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>