<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 dash-x1">
                <!-- <h2>Profile</h2> -->
                <div class="dash-x2">
                    <ul class="ul-dahsboard">
                        <a href="/dashboard">
                            <li>
                                <img src="assets/img/avatar.png" class="img-responsive" alt=""> Profile
                            </li>
                        </a>
                        <a href="/product-in-store">
                            <li>
                                <img src="assets/img/plan.png" class="img-responsive" alt=""> Product in Store
                            </li>
                        </a>
                        <a href="/sales-history">
                            <li>
                                <img src="assets/img/bill.png" class="img-responsive" alt=""> Sales History
                            </li>
                        </a>
                        <a href="/purchase-history">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Purchase History
                            </li>
                        </a>
                        <a href="/notification">
                            <li>
                                <img src="assets/img/calendar.png" class="img-responsive" alt=""> Notification
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pro-x1">
                <h2>Product in Store</h2>
                <h4>User Details</h4>

                <div class="row mb-2 top-text">
                    <div class="col-md-2 text-center">
                        <span>ITEMS</span>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-2 text-center">
                        <span>QUANTITY</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span>UNIT PRICE</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span>SUB-TOTAL</span>
                    </div>
                </div>
                <div class="row bk-cart pt-3 pb-3 pb-1 mb-4">
                    <div class="col-md-2 text-center">
                        <img src="assets/img/products/2.jpg" class="img-responsive img-thumbnail" alt="">
                    </div>
                    <div class="col-md-4">
                        <ul class="vc-x2">
                            <li class="m1">Seller: CK Venture</li>
                            <li class="m2">Fresh Banana</li>
                        </ul>
                        <!-- <ul class="vc-x1">
                            <li>Moved to saved Item</li>
                            <li>
                                <i class="fa fa-trash pr-1"></i> Remove
                            </li>
                        </ul> -->
                    </div>
                    <div class="col-md-2 text-center pt-3 vc-x3">
                        <span>4</span>
                    </div>
                    <div class="col-md-2 text-center pt-3">
                        <span>&#8358;30,400</span>
                    </div>
                    <div class="col-md-2 text-center pt-3">
                        <span>&#8358;30,400</span>
                    </div>
                </div>
                <div class="row bk-cart pt-3 pb-3 mb-4 pb-1 mb04">
                    <div class="col-md-2 text-center">
                        <img src="assets/img/products/3.jpg" class="img-responsive img-thumbnail" alt="">
                    </div>
                    <div class="col-md-4">
                        <ul class="vc-x2">
                            <li class="m1">Seller: CK Venture</li>
                            <li class="m2">Fresh Tomato</li>
                        </ul>
                        <!-- <ul class="vc-x1">
                            <li>Moved to saved Item</li>
                            <li>
                                <i class="fa fa-trash pr-1"></i> Remove
                            </li>
                        </ul> -->
                    </div>
                    <div class="col-md-2 text-center pt-3 vc-x3">

                        <span>3</span>
                    </div>
                    <div class="col-md-2 text-center pt-3">
                        <span>&#8358;60,400</span>
                    </div>
                    <div class="col-md-2 text-center pt-3">
                        <span>&#8358;80,400</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>