<section>
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-12 bk-white">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Select Commodity</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Fresh Tomato</option>
                            <option>Pepper</option>
                            <option>Orange</option>
                            <option>Onion</option>
                            <option>Agbalumo</option>
                          </select>
                        <small id="emailHelp" class="form-text text-muted">Kindly select the Commodity to sell</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Select Quanity</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>25kg</option>
                            <option>50kg</option>
                            <option>100kg</option>
                          </select>
                        <small id="emailHelp" class="form-text text-muted">Kindly select the quanity of commodity to sell</small>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Show sellers details</label>
                    </div>
                    <button type="submit" class="btn btn-sell">Proceed to sale</button>
                </form>
            </div>
        </div>
    </div>
</section>