<section class="bk-grey">
    <div class="container">
        <div class="inner-text">
            <h2>ADDRESS DETAILS</h2>
        </div>
        <div class="row bk-white pay-x1">
            <div class="col-md-12 pt-4 pl-4 pr-4 pb-4">
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">First Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="first name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">Last Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="last name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">Mobile Phone Number</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="first name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1">State/Region</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Address</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="inner-text">
            <h2>DELIVERY METHOD</h2>
        </div>
        <div class="row bk-white pay-x1">
            <div class="col-md-12 pt-4 pl-4 pr-4 pb-4">
                <h3>How do you want your orders deilvered to you</h3>
                <form>
                    <div class="form-check other-pay pai-1">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Nearest pick-up point</label>
                        <p>It takes up to 48hrs to get it delivered at the nearest pickup point</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="inner-text">
            <h2>PAYMENT METHOD</h2>
        </div>
        <div class="row bk-white pay-x1">
            <div class="col-md-12 pt-4 pl-4 pr-4 pb-4">
                <h3>How do you want your orders deilvered to you</h3>
                <form>
                    <div class="form-check other-pay">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Agrovest Pay</label>
                        <p>Pay securely with your Mastercard, Visa and Verve Cards</p>
                    </div>
                    <div class="form-check other-pay">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Pay on Delivery</label>
                        <p>You will ensure to pay on delivery of goods</p>
                    </div>
                    <div class="form-check other-pay">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Others</label>
                        <p>Fast, easy and safe payment with Interswitch Webpay</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="row bk-white pay-x1 pay-x2 mt-1 pt-3">
            <div class="col-md-12">
                <h2>Subtotal <span class="pull-right">&#8358;48,000</span></h2>
                <h2>Deliverable Fee <span class="pull-right">&#8358;1,000</span></h2>
                <hr>
                <h2><b>Total</b> <span class="pull-right"><b>&#8358;49,000</b></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 mb-4 vc-x4">
                <a href="/payment-details" class="btn btn-primary pay">CONFIRM ORDER</a>
            </div>
        </div>
    </div>
</section>